@import "assets";
@import "variables";

body {
    background: #eee;
    font-family: $font-stack;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
}

.backdrop {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 3;
}

.modal-info {
    position: fixed;
    top: 10%;
    overflow: hidden;
    border-radius: 5px;
    width: 90%;
    max-width: 500px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;

    img {
        width: 100%;
    }

    h1 {
        text-align: center;
        font-size: 18px;
        margin: 10px 0;
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px 20px;

        p {
            display: -webkit-box;
            -webkit-line-clamp: 10;
            -webkit-box-orient: vertical;
            text-overflow: unset;
            overflow-y: scroll;
        }
    }

    .btn {
        position: absolute;
        top: 10px;
        right: 10px;
        display: inline-flex;
        align-self: flex-end;
        padding: 5px;
        color: #fff;
        background: #971f1f;

        &:hover {
            background: darken(#971f1f, 10%);
        }

        svg {
            font-size: 20px;
        }
    }
}

.container {
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #023e8a;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    transition: all 0.3s ease;
    line-height: 1.1;
    box-shadow: $shadow;

    &.search-btn {
        background-color: #fff;
        color: #000;

        &:hover {
            background-color: darken(#fff, 15%);
        }
    }

    &.btn-load {
        margin: 30px auto 0 auto;
        background-color: #000;

        &:hover {
            opacity: 0.8;
            background-color: #000;
        }
    }
}

.btn:hover {
    background-color: darken(#023e8a, 15%);
    opacity: 1;
}

.btn:disabled,
.ctrl-btn:disabled {
    pointer-events: none;
    opacity: 0.3;
}

input:focus {
    outline: none;
}

header {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: all 0.7s ease;
    z-index: 2;

    &.active {
        transition: 0.3s all ease;
    }

    .btn.menu {
        position: relative;
        background-color: $blue-base;
        z-index: 2;
    }

    a {
        color: #fff;
        font-size: 1.25rem;
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover {
            opacity: 0.7;
        }
    }

    .brand {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-weight: 700;
        font-size: 1.5rem;

        .logo__header {
            display: block;
            background: url("./images/cinema.png") no-repeat;
            width: 73px;
            height: 67px;
            background-size: contain;
        }
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        width: 250px;
        background: $blue-base;
        display: flex;
        padding: 10px;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        z-index: 1;
        transition: 0.7s all;

        &.active {
            right: 0;
            transition: all 0.3s;
        }

        li {
            width: 100%;
            list-style: none;
        }

        a {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 20px;
            padding: 10px 20px;
        }

        .btn {
            display: flex;
            align-items: center;
            gap: 10px;
            margin: auto;
        }
    }
}

.add-page {
    width: 100%;
    padding: 40px 15px 0;

    .add-content {
        display: flex;
        flex-direction: column;
        padding: 10px 0 50px;
        max-width: 600px;
        margin: 0 auto;
    
        .search-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
        }
    
        .add-field {
            width: 100%;
            padding: 10px;
            border: none;
            color: $primary;
            background: #fff;
            height: 47px;
            font-size: 1.25rem;
            border-radius: 5px;
            box-shadow: $shadow;
            outline: 0;
        }
    
        .filters-wrapper {
            display: flex;
            justify-content: space-between;
            margin: 0 0 10px;
            gap: 10px;
    
            .btn {
                flex: 1;
            }
        }
    }
}

.results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px 20px;
    margin-top: 20px;

    li {
        list-style: none;
    }
}

.result-card {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 5px;

    &:hover {
        .overlay {
            border: 3px solid #b57bff;
        }

        .inner-card-controls {
            z-index: 1;
            opacity: 1;
        }
    }

    .poster-wrapper {
        position: relative;
    }

    .poster-wrapper img,
    .filler-poster {
        width: 100%;
        height: 290px;
        object-fit: cover;
        border-radius: 10px;
        display: block;
        box-shadow: $shadow;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            font-size: 16px;
            color: $primary;
            font-weight: 600;
        }

        .release-date {
            font-size: 16px;
            font-weight: 300;
            color: $primary;
        }
    }
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .btn-modal {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 1;
    }

    .btn {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        padding: 8px;
        margin: 0;
        max-width: 150px;
        font-size: 14px;
        gap: 5px;
    }
}

.movie-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 15px;

    .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 30px;
    }

    .count-pill {
        display: block;
        background-color: #48a9a6;
        padding: 5px 15px;
        font-size: 1.125rem;
        font-weight: 600;
        border-radius: 20px;
        color: #ecf8f1;
    }

    .heading {
        font-size: 28px;
        color: $primary;
    }

    .no-movies {
        color: #818181;
        font-size: 2rem;
        margin: 60px 0;
        text-align: center;
    }
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px 20px;
}

.movie-card {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    border: 0;
    display: block;
    box-shadow: $shadow;

    &:hover {
        .overlay {
            border: 3px solid #b57bff;
            z-index: 1;
        }

        .inner-card-controls {
            z-index: 1;
            opacity: 1;
        }
    }

    img {
        width: 100%;
        object-fit: cover;
        display: block;
    }

    .img-watchlist {
        height: 100%;
    }

    .img-watched {
        height: 93%;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 3px solid transparent;
        transition: all 0.3s ease;
    }

    .watched {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 7%;
        background: #000;
        color: #fff;
        font-size: 11px;
        font-weight: 600;
        width: 100%;
        letter-spacing: 1px;
        line-height: 1;

        svg {
            font-size: 16px;
            margin-right: 5px;
        }
    }
}

.inner-card-controls {
    display: inline-flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    padding: 3px 5px;
    gap: 10px;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease;
}

.ctrl-btn {
    display: inline-flex;
    color: #fefefe;
    background-color: transparent;
    transition: all 0.3s ease;
    font-size: 1.25rem;
    padding: 5px;

    &:hover {
        color: $secondary;
    }
}

.main__card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    background: url("./images/background-retangulo-1.svg"), url("./images/background-retangulo-2.svg"),
        url("./images/background-retangulo-3.svg");
    background-position-y: -20vw, -40vw, 80vh;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: contain, cover, contain;

    .card__profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-radius: 5px;
    }

    .icon-cinerama {
        display: block;
        background: url("../sass/images/cinema.png");
        width: 160px;
        height: 160px;
        background-size: cover;
    }

    h2 {
        font-size: 34px;
        color: $blue-base;
        padding: 15px 0;
        font-weight: 700;
    }

    .card__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        max-width: 310px;
        padding: 30px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: $shadow;

        label {
            color: $blue-base;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 3px;
        }
    }

    input {
        width: 100%;
        outline: none;
        padding: 10px;
        border: 1px solid $blue-base;
        border-radius: 5px;
        margin-bottom: 15px;
        background: transparent;

        &::placeholder {
            font-size: 13px;
            color: #a7a7a7;
        }
    }

    .btn {
        width: 100%;
        font-size: 14px;
        color: #fff;
        background-color: $light-blue;
        margin: 10px 0;
        align-self: center;
        box-shadow: $shadow;

        &:hover {
            background-color: darken($light-blue, 15%);
        }
    }
}

.card__senha {
    margin: 20px 0;
    width: 100%;
    max-width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 15px;
    background-color: #fff;
    box-shadow: $shadow;

    a,
    .criar__conta {
        color: $blue-base;
        font-size: 14px;
    }

    a {
        font-weight: 600;
    }
}

@media (min-width: 768px) {
    .movie-grid {
        grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
        gap: 20px 30px;
    }

    .result-card {
        .poster-wrapper img,
        .filler-poster {
            height: 320px;
        }
    }

    .main__card {
        background-position-y: -50vh, -70vh, 80vh;
    }

    .movie-card .watched {
        font-size: 12px;
    }
}

@media (min-width: 927px) {
    #root {
        display: flex;
    }

    header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 80px;
        padding: 10px;
        gap: 20px;
        background-color: $blue-base;
        box-shadow: $shadow;
        transition: 0.4s all;

        &.active {
            width: 200px;
            transition: 0.3s all;

            .nav-links {
                opacity: 1;
                pointer-events: all;
            }
        }

        .brand {
            flex-direction: column;
            width: 100%;
            margin-bottom: 15px;

            a {
                justify-content: center;
            }
        }

        .nav-container {
            width: 0;
            overflow: hidden;
            transition: 0.4s all;

            &.active {
                width: 200px;
                transition: 0.4s all;
            }
        }

        .nav-links {
            position: static;
            opacity: 0;
            pointer-events: none;
            width: 200px;
            background: $blue-base;
            align-items: center;
            gap: 20px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            transition: 0.4s all;

            &.active {
                width: 200px;
                transition: 0.3s all;
            }

            li,
            a,
            .btn {
                width: 100%;
            }

            a {
                display: flex;
                align-items: center;
                gap: 20px;
                padding: 10px 20px;
            }
        }
    }

    .add-page {
        width: 100%;
        padding: 0 40px;

        .add-content {
            max-width: unset;
            padding: 20px 0;
            flex-direction: row;
            flex-wrap: wrap;

            .search-container {
                flex-direction: row;
            }

            .input-wrapper {
                flex: 1;
            }
        }

        .filters-wrapper {
            justify-content: space-evenly;
            margin: 0;

            .btn {
                flex: none;
            }
        }
    }

    .results {
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    }

    .main__card {
        background-size: cover, cover, contain;
        background-position-y: -35vw, -60vw, 80vh;
    }
}
